<app-header></app-header>

<!-- MAPA -->
    <div class="form-group">
        <label for="inputUbicacion">
            <h5>Calle</h5>
        </label>
        <input type="text" class="form-control" (change)="actualizarMapa()" [(ngModel)]="calle"
            [ngModelOptions]="{standalone: true}" id="inputUbicacion">
        <br>
        <!-- MUCHAS CHINCHETAS -->
        <app-mapa [ubicaciones]="ubicaciones"></app-mapa>

        <!-- UNA CHINCHETA -->
        <!-- <app-mapa [latitud]="lat" [longitud]="lon"></app-mapa> -->
    </div>

    <br>

<app-footer></app-footer>