<app-header></app-header>
<div class="px-4 pt-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Examen</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Página web del tercer parcial.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <div class="">
                <p>Mapa</p>
                <app-mapa></app-mapa>
                </div>
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Registrarse</button> -->
        </div>

        <form (ngSubmit)="selectLineaYSentido()" #forma="ngForm">
            <div class="row align-items-md-stretch">
                <div class="form-group col-md-6">
                    <label for="inputLinea">Linea</label>
                    <input type="number" [(ngModel)]="this.linea" class="form-control" id="inputSentido" placeholder="linea"
                        name="linea" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSentido">Sentido</label>
                    <input type="number" [(ngModel)]="this.sentido" class="form-control" id="inputSentido"
                        placeholder="Sentido" required name="sentido">
                </div>
                
            </div>
            <br>
            <button type="submit" class="btn btn-warning">Mostrar paradas</button>
        </form>

    </div>
    

    <app-footer></app-footer>