<app-header></app-header>

<!--Container-->
<div *ngIf="!legitimo">
    <h1 style="text-align: center;">No tienes acceso a esta página</h1>
</div>
<div *ngIf="legitimo" class="container px-4 py-5" id="custom-cards">
    <h1 class="pb-1 border-bottom">Logs</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Usuario</th>
                <th>Caducidad</th>
                <th>Token</th>
            </tr>
        </thead>
        <tbody *ngFor="let log of logsList">
            <tr>
                <td>{{log.timestamp}}</td>
                <td>{{log.usuario}}</td>
                <td>{{log.caducidad}}</td>
                <td>{{log.token}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<app-footer></app-footer>